<div class="container-fluid border border-dark">
  <div class="row border border-dark height_100vh">
    <div class="col vertical_center">
      <div class="text-center">
        <h1><span>Hello&nbsp;</span><span>There!</span></h1>
      </div>
      <div class="text-center">
        <h5><span>Software&nbsp;Engineer</span></h5>
      </div>
      <div class="text-center px-5">
        <p>
          <span>Lorem&nbsp;</span>
          <span>ipsum&nbsp;</span>
          <span>dolor&nbsp;</span>
          <span>sit&nbsp;</span>
          <span>amet&nbsp;</span>
          <span>adipisicing&nbsp;</span>
          <span>elit.&nbsp;</span>
          <span>Excepturi&nbsp;</span>
          <span>odit&nbsp;</span>
          <span>eligendi&nbsp;</span>
          <span>ut&nbsp;</span>
          <span>laboriosam&nbsp;</span>
          <span>veniam&nbsp;</span>
          <span>pariatur&nbsp;</span>
          <span>provident&nbsp;</span>
          <span>sed&nbsp;</span>
          <span>non&nbsp;</span>
          <span>delectus!&nbsp;</span>
          <span>Explicabo&nbsp;</span>
          <span>reiciendis&nbsp;</span>
          <span>minus&nbsp;</span>
          <span>rem,&nbsp;</span>
          <span>perspiciatis&nbsp;</span>
          <span>eaque&nbsp;</span>
          <span>porro&nbsp;</span>
          <span>tempore!&nbsp;</span>
          <span>Ab,&nbsp;</span>
          <span>nemo!&nbsp;</span>
          <span>Ipsa.&nbsp;</span>
        </p>
      </div>
      <div class="text-center">
        <span
          ><button class="btn btn-outline-dark animate_btn">
            Learn More
          </button></span
        >
        <span><button class="ms-1 btn btn-dark">Hire Me</button></span>
      </div>
    </div>
    <div class="col border">
      <span
        ><img class="image_format" src="../../../../../assets/dp.jpg" alt=""
      /></span>
    </div>
  </div>
</div>
